node_modules
.env
dist
.vscode
.idea

# 🎓 Just earned my Introduction to Cloud certificate from IBM & Cognitive Class!

# As part of my learning journey, I built a hands-on Task Tracker app using:
# 🔹 IBM Cloud Code Engine (serverless)
# 🔹 Cloudant NoSQL Database
# 🔹 Docker & CI/CD with GitHub Actions
# 🔹 Prometheus + Grafana for observability

# 🔧 Gained practical experience in containerization, automated deployments, and monitoring — all in one real-world flow.

# A small project, but a big step into DevOps and cloud-native development!

# 🔗 Check out the full project on GitHub:
# github.com/Helmi555/IBM-cloud-task-tracker

# Perfect for anyone starting with IBM Cloud and modern DevOps practices.

# #IBMCloud #DevOps #CloudComputing #CI/CD #Docker #Prometheus #Grafana #CloudNative #LearningByDoing #IBM #CognitiveClass